body {
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

.hamburger-menu {
    margin: 0;
    position: absolute;
    display: none;
    height: 100%;
    top: 10px;
    left: 30px;
}

#hamburger-menu__toggle {
    opacity: 0;
}

    #hamburger-menu__toggle:checked ~ .hamburger-menu__button > span {
        transform: rotate(45deg);
    }

        #hamburger-menu__toggle:checked ~ .hamburger-menu__button > span::before {
            top: 0;
            transform: rotate(0);
        }

        #hamburger-menu__toggle:checked ~ .hamburger-menu__button > span::after {
            top: 0;
            transform: rotate(90deg);
        }

    #hamburger-menu__toggle:checked ~ .hamburger-menu__box {
        visibility: visible;
        left: 0;
    }

    #hamburger-menu__toggle:checked ~ .hamburger-menu__button {
        position: fixed;
    }

.hamburger-menu__button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 22px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

    .hamburger-menu__button > span,
    .hamburger-menu__button > span::before,
    .hamburger-menu__button > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

        .hamburger-menu__button > span::before {
            content: '';
            top: -8px;
        }

        .hamburger-menu__button > span::after {
            content: '';
            top: 8px;
        }

.hamburger-menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 450px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #242424;
    transition-duration: .25s;
}

.hamburger-menu__box_list {
    padding: 0px;
}

.hamburger-menu__list_item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
}

    .hamburger-menu__list_item:hover {
        background-color: #CFD8DC;
    }

.hamburger-menu__image_logo {
    height: 45px;
    width: 150px;
    padding-left: 24px;
}

.hamburger-menu__link_number {
    color: #333;
    padding-left: 24px;
    text-decoration: none;
}


.header__wrap {
    background-color: #242424;
    padding: 15px 2%;
    width: 96%;
    min-height: 60px;
}

.header {
    justify-content: space-between;
    background-color: #242424;
    padding: 0% 5%;
    max-width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    flex-wrap: wrap;
}


.header__image_logo {
    float: left;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: #242424;
    height: 62px;
    width: 200px;
    margin: 0px;
}

.header__box_navigate {
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    max-width: 850px;
    float: right;
    font-size: 18px;
}

.header__link_number {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.header__list_menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: #242424;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
}

    .header__list_menu li {
        padding: 5px;
        font-size: 18px;
    }

        .header__list_menu li a {
            text-decoration: none;
            color: white;
        }

            .header__list_menu li a:hover {
                text-decoration: underline;
            }

        .header__list_menu li:before {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 7.5px;
            background-color: white;
            margin-bottom: 4px;
            margin-right: 5px;
        }
        .header__list_menu li:first-child:before {
            content: '';
            width: 0px;
            height: 0px;
        }

.general-information__image_background {
    height: 100%;
    max-height: 820px;
    min-height: 668px;
    text-align: center;
    background-image: none;
    background: url('https://132169.lp.tobiz.net/img/1920x0/image_12035.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.general-information__image_noise {
    height: 100%;
    max-height: 820px;
    background-image: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAADtJREFUKFNj/P//vxQDAcAIVSTJwMDwHItasDhMEUgeXSGcj6wI2SAUDbgUodiMrgir20hyE9G+wxlaADZhJdmjodzGAAAAAElFTkSuQmCC) repeat;
}

.general-information {
    align-content: center;
    height: 100%;
    max-height: 820px;
    text-align: center;
    background-image: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.general-information__p_title {
    margin-top: 0px;
    padding-top: 13%;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat';
    letter-spacing: 1em;
    text-transform: uppercase;
    text-align: center;
}

.general-information__p_mma {
    font-family: russo one;
    font-size: 72px;
    font-style: italic;
    color: white;
    margin: 0px;
    text-transform: uppercase;
}

.general-information__p_mmaspan {
    color: rgb(236, 33, 20);
}

.general-information__p_line {
    color: white;
    font-size: 36px;
    font-family: Geneva, Verdana, sans-serif;
    margin-top: -20px;
    letter-spacing: -0.2px;
}

.general-information__p_upper-button-information {
    font-size: 24px;
    color: white;
    font-family: 'Montserrat';
    width: 80%;
    max-width: 950px;
    margin: 1em auto;
}

.general-information__button_subscribe {
    width: 90%;
    max-width: 300px;
    height: 60px;
    background-color: rgb(236, 33, 20);
    border: 0px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat';
}

    .general-information__button_subscribe:hover {
        margin-top: 2px;
        margin-bottom: -2px;
        background-color: rgb(200, 33, 20);
    }

.general-information__p_under-button-information {
    color: #808080
}

.about-club {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 20%
}

.about-club__image_main {
    max-width: 450px;
    max-height: 350px;
    margin: 0% 3% 2% 3%;
    float: left;
}

.about-club__p_title {
    text-transform: uppercase;
    font-family: russo one;
    font-size: 42px;
    font-style: oblique;
    height: 50px;
    margin-top: 10%;
    margin-bottom: 3%;
}
    .about-club__p_title::after {
        content: "--";
        font-family: russo one;
        font-size: 42px;
        color: red;
        letter-spacing: -0.078em;
        margin: 0px 0.5em;
    }

    .about-club__p_title::before {
        content: "--";
        font-family: russo one;
        font-size: 42px;
        color: red;
        letter-spacing: -0.078em;
        margin: 0px 0.5em;
    }

.about-club__p_information-first {
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 3em;
}

.about-club__p_information-second {
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
}

.directions__image_background {
    height: 130%;
    max-height: 920px;
    background-image: none;
    background: url('https://132169.lp.tobiz.net/img/1920x0/image_12048.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.directions__image_black {
    height: 100%;
    max-height: 2000px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9)
}

.directions {
    padding: 70px 0px;
    padding-top: 70px;
    margin: auto;   
}

.directions__div_container {
    margin: auto;
    max-width: 1191px;
}

.directions__p_title {
    color: white;
    text-transform: uppercase;
    font-family: russo one;
    font-size: 42px;
    font-style: oblique;
    height: 50px;
    margin: 0px;
}

    .directions__p_title::after {
        content: "--";
        font-family: russo one;
        font-size: 42px;
        color: red;
        letter-spacing: -0.078em;
        margin: 0px 0.5em;
    }

    .directions__p_title::before {
        content: "--";
        font-family: russo one;
        font-size: 42px;
        color: red;
        letter-spacing: -0.078em;
        margin: 0px 0.5em 0px 0px;
    }

.directions__p_trial {
    font-size: 20px;
    color: white;
}

.directions__div_container-for-images {
    display: flex;
    flex-direction: row;
}

.directions__div_table-row {
    display: flex;
    flex-direction: row;
}

.directions__image {
    height: 560px;
    width: 373px;
    background-image: none;
    margin: 12px;
}

.box_image {
    background: url('https://132169.lp.tobiz.net/img/600x900/dfd755664692b29d280f75f34bc98b03.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.directions__image-darker {
    height: 560px;
    width: 373px;
    background-image: none;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

    .directions__image-darker:hover {
        background: rgba(0, 0, 0, 0.5);
    }

.directions__image-title {
    font-size: 24px;
    color: white;
    font-weight: 900;
    margin-top: 60%;
    margin-bottom: 0px;
    margin-left: 15px;
}

.directions__image-free {
    font-size: 18px;
    color: white;
    margin-left: 15px;
}

.sambo_image {
    background: url('https://132169.lp.tobiz.net/img/600x900/5bfbbc37ed6a86db4a6f21072aa9e540.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.cross-fit_image {
    background: url('https://132169.lp.tobiz.net/img/600x900/781814b78e347b2e43d59c8edae930ab.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.footer__wrapper {
    background-color: #616161;
    padding: 20px 0px;
    width: 100%;
}

.footer {
    color: white;
    background-color: #616161;
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 0px 20px;
    height: 96px;
}

.footer__wrap_justify {
    display: flex;
}

.footer__image_logo {
    height: 60px;
    width: 200px;
    margin-right: 20px;
}

.footer__information p {
    margin: 0px;
    font-size: 14px;
}

.footer__information_policy {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed;
}

    .footer__information_policy:hover {
        border-bottom: none;
    }

.footer__social-media {
    text-align: right;
}

.footer__social-media_number {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.footer__social-media_free-russia {
    font-size: 12px;
    word-wrap: break-word;
}

.footer__social-media_vk-icon-box {
    height: 28px;
    width: 28px;
    background-color: #0006FF;
    margin: 0px;
    display: inline-flex;
    align-items: center;
}

.footer__social-media_instagram-icon-box {
    height: 28px;
    width: 28px;
    margin: 0px;
    display: inline-flex;
    align-items: center;
    background: #D500CE;
    background: linear-gradient(to top right, #FFFF00, #FF0066, #D500CE);
}

.footer__social-media_whatsapp-icon-box {
    height: 28px;
    width: 28px;
    background-color: #2EE600;
    margin: 0px;
    display: inline-flex;
    align-items: center;
}

.footer__social-media_youtube-icon-box {
    height: 28px;
    width: 28px;
    background-color: #F50000;
    margin: 0px;
    display: inline-flex;
    align-items: center;
}

.icon {
    font-size: 18px;
    margin: auto;
}

    .icon:hover {
        font-size: 22px;
        cursor: pointer;
    }

.lock-scroll {
    overflow: hidden;
}

@media (max-width: 1331px) {
    .directions__image_background {
        max-height: 800px;
    }

    .directions__image {
        height: 504px;
        width: 336px;
    }

    .directions__image-darker {
        height: 504px;
        width: 336px;
    }

    .directions__div_container {
        max-width: 1068px;
    }

}

@media (max-width: 1208px) {
    .directions__image_background {
        max-height: 750px;
    }

    .directions__image {
        height: 454px;
        width: 303px;
    }

    .directions__image-darker {
        height: 454px;
        width: 303px;
    }

    .directions__div_container {
        max-width: 969px;
    }

}

@media (min-width: 1170px) {
    .about-club {
        margin-bottom: 10%;
    }

}

@media (max-width: 1132px) {
    .header__image_logo {
        padding-top: 15px;
    }

    .general-information__image_background {
        height: 60%;
    }

    .header__box_navigate {
        float: none;
        align-items: flex-end;
        flex-direction: column-reverse;
    }

}

@media (max-width: 1015px) {
    .about-club__p_title {
        font-size: 19px;
        margin-bottom: 0px;
    }

        .about-club__p_title::after {
            font-size: 19px;
        }

        .about-club__p_title::before {
            font-size: 19px;
        }

    .about-club__image_main {
        margin: 2% 3%;
    }

}

@media (max-width: 1109px) {
    .directions__image_background {
        max-height: 700px;
    }

    .directions__image {
        height: 409px;
        width: 273px;
    }

    .directions__image-darker {
        height: 409px;
        width: 273px;
    }

    .directions__div_container {
        max-width: 879px;
    }

}

@media (max-width: 1019px) {
    .directions__image_background {
        max-height: 670px;
    }

    .directions__image {
        height: 368px;
        width: 246px;
    }

    .directions__image-darker {
        height: 368px;
        width: 246px;
    }

    .directions__div_container {
        max-width: 798px;
    }

}

@media (max-width: 1000px) {
    .general-information__image_background {
        margin-left: -250px;
        padding-left: 250px;
    }

}

@media (max-width: 990px) {
    .header__list_menu {
        display: none;
    }

    .header__image_logo {
        padding-top: 0px;
    }

    .header__link_number {
        padding-top: 22px;
    }

    .hamburger-menu {
        display: block;
    }

    .header__image_logo {
        margin-left: 50px;
    }

}

@media (max-width: 938px) {
    .directions__image_background {
        max-height: 620px;
    }

    .directions__image {
        height: 331px;
        width: 221px;
    }

    .directions__image-darker {
        height: 331px;
        width: 221px;
    }

    .directions__div_container {
        max-width: 723px;
    }

}

@media (max-width: 864px) {
    .footer__social-media {
        width: 140px;
    }

    .footer__social-media_number {
        font-size: 16px;
    }

}

@media (max-width: 863px) {
    .directions__image_background {
        max-height: 600px;
    }

    .directions__image {
        height: 281px;
        width: 188px;
    }

    .directions__image-darker {
        height: 281px;
        width: 188px;
    }

    .directions__div_container {
        max-width: 624px;
    }

}


@media (max-width: 810px) {
    .footer__information {
        width: 360px;
    }

}

@media (max-width: 792px) {
    .header {
        padding-left: 38px;
    }

}


@media (max-width: 770px) {
    .about-club__p_title {
        float: none;
    }

    .about-club__p_information-first {
        float: none;
    }

    .about-club__p_information-second {
        float: none;
    }

    .about-club__image_main {
        float: none;
        max-width: 90%;
        width: 90%;
        max-height: 100%;
        height: auto;
        margin: 10% 5% 1% 5%;
    }

    .footer__information {
        width: 265px;
    }

}

@media (max-width: 764px) {
    .directions__div_table-row {
        flex-direction: column;
    }

    .directions__image_background {
        max-height: 1000px;
    }

    .directions__image {
        height: 331px;
        width: 221px;
    }

    .directions__image-darker {
        height: 331px;
        width: 221px;
    }

    .directions__div_container {
        max-width: 490px;
    }

}

@media (max-width: 666px) {
    .footer__wrap_justify {
        align-items: center;
    }

    .footer__image_logo {
        height: 45px;
        width: 150px;
    }

}

@media (max-width: 640px) {
    .general-information__p_mma {
        font-size: 40px;
    }

    .general-information__p_title {
        padding-top: 30%;
    }

    .general-information__image_background {
        margin-left: -300px;
        padding-left: 300px;
    }

    .header__wrap {
        padding: 15px 2%;
    }

}

@media (max-width: 630px) {
    .directions__div_container-for-images {
        flex-direction: column;
    }

    .directions__div_table-row {
        flex-direction: column;
    }

    .directions__image_background {
        max-height: 2000px;
        height: 1852px;
        background-repeat: repeat;
    }

    .directions__p_title {
        font-size: 32px;
    }

        .directions__p_title::after {
            font-size: 30px;
        }

        .directions__p_title::before {
            font-size: 30px;
        }

    .directions__image {
        height: 504px;
        width: 336px;
    }

    .directions__image-darker {
        height: 504px;
        width: 336px;
    }

    .directions__div_container {
        max-width: 360px;
    }

}

@media (max-width: 620px) {
    .footer__information {
        display: none;
    }

    .footer__social-media {
        width: 190px;
    }

}

@media (max-width: 530px) {
    .header__image_logo {
        margin: auto;
        float: none;
        width: 150px;
        height: 45px;
    }

    .header__link_number {
        margin: auto;
        float: none;
        padding-top: 10px;
    }

    .header__box_navigate {
        margin: auto;
        float: none;
    }

    .hamburger-menu__button {
        top: 38px;
    }

    .header {
        padding-left: 5%;
    }

}

@media (max-width: 404px) {
    .general-information__p_title {
        font-size: 18px;
    }

    .footer {
        flex-direction: column ;
        height: 150px;
    }

    .footer__image_logo {
        margin: auto;
        margin-bottom: 20px;
    }

    .footer__social-media {
        margin: auto;
        text-align: center;
    }

}